$primary-background-color: #FFFFFF;
$secondary-background-color: #F5F5F5;
$primary-text-color: #333333;

$left-color: #D61C1C;
$left-light-color: transparentize($left-color, 0.4);
$right-color: #30AAE3;
$right-light-color: transparentize($right-color, 0.4);
