@import 'mixins';

$column-left-width: 25%;
$column-right-width: 100% - $column-left-width;

.container {
  &__column {
    &--left {
      width: $column-left-width;
    }

    &--right {
      width: $column-right-width;
    }
  }
}

.angular-google-map-container {
  height: 100vh;
}
