<div class="container">
  <div class="container__row container__row--top">
    <div class="scoreboard">
      <div class="scoreboard__teams">
        <div class="scoreboard__team scoreboard__team--left">
          <div class="scoreboard__team-container">
            <span class="scoreboard__team-score">{{main.team.A.score}}</span>
            <span class="scoreboard__team-name">{{main.team.A.name}}</span>
          </div>
        </div>
        <div class="scoreboard__team scoreboard__team--right">
          <div class="scoreboard__team-container">
            <span class="scoreboard__team-score">{{main.team.B.score}}</span>
            <span class="scoreboard__team-name">{{main.team.B.name}}</span>
          </div>
        </div>
      </div>
      <div class="scoreboard__type">{{main.game.type}}</div>
      <clock start-date="main.game.start_date" duration="main.game.duration"></clock>
    </div>
  </div>
  <div class="players players--left">
    <div class="players__counter">
      <div class="players__counter-text">
        <span class="players__counter-amount">{{main.team.A.alive}}</span>
        <span class="players__counter-amount">/</span>
        <span class="players__counter-amount">{{main.team.A.count}}</span>
        <span class="players__counter-amount">players left</span>
      </div>
    </div>
    <ul class="player-list">
      <li class="player-list__item" ng-repeat="player in main.team.A.players" ng-class="main.getClasses(player)" ng-click="main.onPlayerClick(player)">
        <div class="player-list__name">
          {{player.name}}
        </div>
      </li>
    </ul>
  </div>
  <div class="players players--details" ng-show="main.game.won">
    <div class="game-over-container">
      <div class="game-over-data">
        <div class="game-over">Game over!</div>
        <div class="game-won" ng-class="main.game.won">Team {{main.game.won}} has won!</div>
      </div>
    </div>
  </div>

  <div class="players players--details" ng-show="main.curPlayer">
    <div class="player-data" ng-class="main.curPlayer.team">
      <div class="player-data__title">{{main.curPlayer.name}}'s stats</div>
      <div class="player-data__container">
        <div class="player-data__column">
          <div class="player-data__data">
            <span>
              {{main.curPlayer.statistics.win_count}}
            </span>
            <div class="player-data__data-sub win">
              WINS
            </div>
          </div>
        </div>
        <div class="player-data__column">
          <div class="player-data__data">
            <span>
              {{main.curPlayer.statistics.loss_count}}
            </span>
            <div class="player-data__data-sub loss">
              LOSES
            </div>
          </div>
        </div>
        <div class="player-data__column">
          <div class="player-data__data">
            <span>
              {{main.curPlayer.statistics.death_count}}
            </span>
            <div class="player-data__data-sub death">
              DEATHS
            </div>
          </div>
        </div>
      </div>
      <div class="player-data__container">
        <div class="player-data__column"></div>
        <div class="player-data__column">
          <div class="player-data__data">
            <span>
              {{main.getGoodTime(main.curPlayer.statistics.avg_duration)}}
            </span>
            <div class="player-data__data-sub avg">
              AVG. TIME ALIVE
            </div>
          </div>
        </div>
        <div class="player-data__column"></div>
      </div>
    </div>
  </div>
  <div class="players players--right">
    <div class="players__counter">
      <div class="players__counter-text">
        <span class="players__counter-amount">{{main.team.B.alive}}</span>
        <span class="players__counter-amount">/</span>
        <span class="players__counter-amount">{{main.team.B.count}}</span>
        <span class="players__counter-amount">players left</span>
      </div>
    </div>
    <ul class="player-list">
      <li class="player-list__item" ng-repeat="player in main.team.B.players" ng-class="main.getClasses(player)" ng-click="main.onPlayerClick(player)">
        <div class="player-list__name">
          {{player.name}}
        </div>
      </li>
    </ul>
  </div>
  <section class="map container__row container__row--bottom">
    <ui-gmap-google-map control="main.map" center="main.map.center" zoom="main.map.zoom" options="main.map.options" refresh="main.map.shouldRefresh">
      <ui-gmap-rectangle bounds="main.fieldBounds"
        fill='{color: "#00FF00", opacity: "0.2"}'
        stroke='{color: "#00FF00", opacity: "0.4"}'
      >
      </ui-gmap-rectangle>
      <ui-gmap-marker ng-repeat="marker in main.markers track by $index" idKey='marker.id' coords='marker.getPosition()' control='marker' options="{icon: marker.icon}"></ui-gmap-marker>
    </ui-gmap-google-map>
  </section>
</div>
