@import 'mixins';
@import 'colors';
@import 'variables';

.game-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 30px;

  &__upper-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100px;
    display: table;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparentize($primary-background-color, 0.1);

    .scoreboard {
      height: 100px;
    }
  }

  &__bottom-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: table;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($primary-background-color, 0.1);
    font-size: 20px;

    .game-name {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      padding-right: 60px;
      width: 50%;
    }

    .game-versus {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding-left: 60px;
      width: 50%;
      opacity: 0.5;
    }
  }

  .angular-google-map-container {
    height: 500px;
  }

  &__item {
    width: 970px;
    margin: 0 auto 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
    height: 500px;
    position: relative;
    cursor: pointer;


    &:hover {
      box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.container {
  &--games {
    .container__row--top {
      background-color: #FA8B02;
      color: #FFFFFF;
    }

    .container__row--bottom {
      height: auto;
      min-height: $bottom-height;
    }
  }

  &__row {
    &--colored {
      background-color: $secondary-background-color;
    }
  }
}

.site-title {
  display: table;
  width: 100%;
  height: $top-height;

  &__container {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
  }

  &__title-container {
    width: 450px;
    margin: 0 auto;
    text-align: left;
    padding-left: 100px;
    background: {
      image: url('/assets/images/logo_header.png');
      position: left 25px top 50%;
      repeat: no-repeat;
    }
    -webkit-font-smoothing: antialiased;
  }

  &__title {
    font-size: 50px;
    font-weight: 200;
  }

  &__sub-title {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    opacity: 0.5;
  }
}
